{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block navbar %}
     <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index'%}">Головна</a></li>
            <li class="active"><a href="{% url 'catalog'%}">Каталог</a></li>
            <li><a href="{% url 'about'%}">Про нас</a></li>
            <li><a href="{% url 'contacts'%}">Контакти</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
{% endblock %}
{% block content %}

<div class="row">
            <h1>{{group.group_name}}</h1>
            <hr>
                {% for subgroup in subgroups %}
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img id="image_block" src="{{ subgroup.subgroup_image.url }}" alt="{{ subgroup.subgroup_name }}">
                            <hr>
                            <a href="/mykbud/subgroup/{{subgroup.subgroup_alias}}/" class="btn btn-primary btn-lg btn-block">{{ subgroup.subgroup_name }}</a>
                        </div>
                      </div>
                {% endfor %}
        </div>

{% endblock %}